@model FANT2.Models.Annonse

@{
    ViewData["Title"] = "Details";
}
<div class="text-center">
@if (Model.TypeAnnonse == true)
{
    <h1>SAVNET</h1>
}
else
{
    <h1>FUNNET</h1>
}
</div>

<div>
    <hr/>
    <dl class="text-center">
        <h4>
            @Html.DisplayFor(model => model.Title)
        </h4>

        <img class="rounded mx-auto d-block" alt="..." src=@Html.DisplayFor(model => model.Image) />
       
            <dd >
                DATO:  @Html.DisplayFor(model => model.Date)
            </dd>
            <dd>
                @Html.DisplayFor(model=>model.UserId)
            </dd>

        

        <br />
        <p>Beskrivelse</p>
        
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>

        
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>|
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
