@model FANT2.ViewModels.UserAnnonse

@{
    ViewData["Title"] = "Details";
}
<br/>
<br/>
<div id="fb-root"></div>
<a style="color: black; float: left" asp-action="Index"><i class="fa fa-arrow-left" style="color: black; font-size: large; margin-top: 20px; margin-left: 20px;"></i><br /> </a>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v8.0&appId=233524327907536&autoLogAppEvents=1" nonce="IwBrLqt5"></script>
<div class="text-center">


    @if (Model.annonse.TypeAnnonse == true)
    {

        <h1>SAVNET</h1>
    }
    else
    {
        <h1>FUNNET</h1>
    }
</div>

<div class="col">
    <hr />
    @if (Model.annonse.Image != null)
    {
        <img class="rounded mx-auto d-block" alt="..." style="width: 100%" src=@Html.DisplayFor(model => model.annonse.Image) />
    }



    <dl>
        <br />
        <br />
    <h4 class="text-center" style="font-weight: bolder">
         @Html.DisplayFor(model => model.annonse.Title)
    </h4>
        
    <p style="font-weight: bold">Dato</p>
    <dd >
        @Html.DisplayFor(model => model.annonse.Date)
    </dd>
        <br />
    <p style="font-weight: bold">Beskrivelse</p>

    <p>
        @Html.DisplayFor(model => model.annonse.Description)
    </p>
        @if (Model.loggedIn == true)
    {
        <p style="font-weight: bold">Kontaktinformasjon</p>
        <p>@Html.DisplayFor(model => model.userEmail)</p>
    }

    @*
        <div class="form-group">
            <textarea id="message" rows="3"></textarea>
            <button id="send-message" class="btn btn-primary-create">Send melding</button>
        </div>*@

    <div class="fb-share-button" data-href="https://fant.azurewebsites.net/Annonses/&#123;id?]" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffant.azurewebsites.net%2FAnnonses%2F%257Bid%3F%255D&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Del</a></div>


</dl>
</div>
@* 
<a class="text-center" style="color: black" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a class="text-center" style="color: black;" asp-action="Index">Back to List</a>|
<a class="text-center" style="color: black" asp-action="Delete" asp-route-id="@Model.Id">Delete</a> *@

<script type="text/javascript">
    globalStuff = @Html.Raw(JsonConvert.SerializeObject(Model));
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFRFFoSKFICLoH-f--RW2EHqA2OzwVLE4&libraries=places"></script>
<script type="text/javascript" src="~/googleMaps/googleMaps_Details.js" asp-append-version="true"></script>



<a class="btn btn-info" style="color: white; margin-left: 15px;" asp-action="Edit" asp-route-id="@Model.annonse.Id">Endre</a> 


@if (Model.annonse.UserId == Model.userId)
{
    <a class="btn btn-danger" style="color: white; margin-left: 10px;" asp-action="Delete" asp-route-id="@Model.annonse.Id"> Slett</a>
}




@*
    @section Scripts
    {

        <script>
            (function() {
                var sendMessageButton = $('#send-message').click(function(e) {
                    e.preventDefault();
                    console.log($('#message')[0].val)
                    $.ajax({
                        type: 'POST',
                        url: '/api/messagesapi',
                        data: JSON.stringify({
                            melding: $('#message')[0].value,
                            annonseId: @Model.Id
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function() {
                            console.log('sendt');
                        }
                    });
                });
            })();

        </script>
    }*@