@model FANT2.Models.Annonse

@{
    ViewData["Title"] = "Details";
}

<h1>Annonse</h1>

<div>
    <hr/>
    <dl class="text-center">
        <h5>
            @Html.DisplayFor(model => model.Title)
        </h5>

   

        <img class="rounded mx-auto d-block" alt="..." src=@Html.DisplayFor(model => model.Image) />

        <p>Beskrivelse</p>
        
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>

        
        <dd >
            DATO:  @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>|
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
