@model IEnumerable<FANT2.Models.Annonse>

@{
    ViewData["Title"] = "Index";
    string colors = "";
}

<h1>Annonser</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Opprett Annonse</a>
</p>

<table class="table d-flex justify-content-center">
    @* <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
@foreach (var item in Model) {
        @* <tr>
             <td>
                <img width = 50px src = @Html.DisplayFor(modelItem => item.Image) />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr> *@
        <tr>
            <td>
                @if (item.TypeAnnonse==true)
                {
                    colors = "#ff6666";
                }
                else{
                    colors = "#66cccc";
                };
                <div class="card" style="width: 18rem; background-color: @colors">
                    <img class="card-img-top" alt="..." src=@Html.DisplayFor(modelItem => item.Image) />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Se annonse</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
