@model FANT2.Models.AnnonseCategoryModel

@{
    ViewData["Title"] = "Index";
    string colors = "";
    string type = "";
}
<br/>
<h1 class="text-center">Annonser</h1>
<hr/>
<br/>
<p>
    <a asp-action="Create" class="btn btn-primary">Opprett Annonse</a>
</p>
<br/>

<form asp-controller="Annonses" asp-action="Index" method="get">
    <p class="søk">
    
        <select asp-for="AnnonseCategory" asp-items="Model.Categorys">
            <option value="">Filtrer</option>
        </select>

         <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Søk"/>
    </p>
</form>

<table class="table d-flex justify-content-center">
    <tbody>
@foreach (var item in Model.Annonses) {
        @* <tr>
             <td>
                <img width = 50px src = @Html.DisplayFor(modelItem => item.Image) />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr> *@
        <tr>
            <td>
                @if (item.TypeAnnonse==true)
                {
                    colors = "#FF0000";
                    type = "Mistet";
                }   
                else
                {
                    colors = "#008000";
                    type = "Funnet";
                }
            
                <div class="card" style="width: 18rem; border-color: black; overflow: hidden; background-color: @colors">

                    @if(item.Image != null)
                    {
                        <img class="card-img-top" alt="..." src=@Html.DisplayFor(modelItem => item.Image) />
                    }

                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Title)</h5>

                        <h6 class="card-subtitle mb-2 text-center"  style="color: black;">@type</h6>
                        <p class="card-text text-center"  style="color: white;">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Se mer</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
